.head{
    display:flex; 
    justify-content:space-between ; 
    align-items:'center';
}

.heading{
    width:fit-content;
    text-align: left;
    align-items:flex-start ;
    font-size:30px; 
    margin-left: 3%;
}

/* .campname{
    float: left;
    margin-left: 5px;
    padding-right: 50px;
    width: 20%;
    padding-top: 1%;
}

.svdf{
    font-size: 20px;
    font-weight: 400;
}

.rowdis{
    display: flex;
    flex-direction: row;
} */



