
.dashboard{
    width: 90vw !important;
      
      margin-bottom: 1%;
      border: 1px lightgray solid;
      
      height: 90vh;
      
}

.rowdis{
    display: flex;
    flex-direction: row;
}

.rowdis1{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin:3%;
    padding: 3%;
}

.coldis{
    display: flex;
    flex-direction: column;
}

.coldis1{
    display: flex;
    flex-direction: column;
    margin-left: 5.5%;
    margin-right: 11%;
    margin-top: 1%;
}

.coldis2{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right:11%;
    margin-top: 1%;
}

.gen{
    margin-left: 6%;
    font-size: large;
}
.com{
    margin-left: 18%;
    font-size: large;
}

.check{
    margin-top: 2%;
}

.text{
    margin: 2% 2% 0% 1%;
}
.divider{
    margin: 2% 0% 2% 0%;
    width: 90vw !important;
    border-color: whitesmoke ;
}

.rowdis3{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.inp2{
    width: 70%;
    padding: 5px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-top: 5px;
}
.inp21{
    width: 70%;
    padding: 5px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-top: 5px;
    margin-top: 3%;
}
.fileinp{
    font-size: medium; 
    border:1px dashed #4645d6;
    border-radius: .5rem;
    padding: 1%;
    /* padding-top: 2%;
    padding-bottom: 1%; */
    cursor: pointer;
}

